<div id="<%= dom_id horse %>">
  <p>
    <strong>Name:</strong>
    <%= horse.name %>
  </p>

  <p>
    <strong>Loacation:</strong>
    <%= horse.loacation %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= horse.price %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= horse.image %>
  </p>

  <p>
    <strong>Broker:</strong>
    <%= horse.broker %>
  </p>

</div>
